{% extends "base.html" %}
{% block title %}Contact - AMPRIC{% endblock %}
<!-- lien pour le css de la page de contact -->
{%block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/contact.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid contact">
    <div class="overlay_contact">
        <div class="content_contact">
            <h1>Contact</h1>
            <p> Vous avez une question, besoin d’information, d’écoute ou d’orientation concernant la polyarthrite
                rhumatoïde ou les rhumatismes inflammatoires chroniques ?
                L’équipe de l’AMPRIC est à votre disposition pour vous répondre et vous accompagner.</p>
        </div>
    </div>
</div>
 

  {% with message = get_flashed_messages(with_categories=true) %}
        {%if message %} 

            {% for categorie, msg in message %}

                <div class="{{categorie}}">
                  <p>{{msg}}</p>
                </div> 

            {% endfor %}

        {%endif%}
  {% endwith %}
<div class="container contact_form">
    <h1>
        contactez-nous :
    </h1>
    <p> Des questions ou des commentaires ?
         Ecrivez-nous simplement un message</p>
    <form action="{{ url_for('contact') }}" method="post" class="contact_form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="text" name="nom" placeholder="Votre nom" required>
        <input type="email" name="email" placeholder="Votre email" required>
        <textarea name="message" placeholder="Votre message" rows="5" required></textarea>
        <button type="submit">Envoyer</button>
    </form>
</div>
 <div class="container-fluid contact_info">
        <div class="carte">
            <div class="carte_info"> 
                <h2>Notre adresse</h2>
                <p>Niamana attbougou, Bamako, Mali</p>
             </div>
             <div class="carte_icone">
               <img src="{{url_for('static', filename='/image/icon_adress.png')}}" alt="Icône adresse" width="100" height="100" loading="lazy" decoding="async">
             </div>
        </div>
       
        <div class="carte">
            <div class="carte_info"> 
                <h2>Numéro de téléphone</h2>
                <p>+223 782306178</p>
             </div>
             <div class="carte_icone">
               <img src="{{url_for('static', filename='/image/icon_phone.png')}}" alt="Icône téléphone" width="100" height="100" loading="lazy" decoding="async">
             </div>
        </div>
       
        <div class="carte carte_email">
            <div class="carte_info"> 
                <h2>Notre email</h2>
                <p>contact@ampric.com</p>
             </div>
             <div class="carte_icon">
               <img src="{{url_for('static', filename='/image/icon_email.png')}}" alt="Icône email" width="100" height="100" loading="lazy" decoding="async">
               
             </div>
        </div>
       
         
 </div>


{% endblock %}
